/* reset */
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}
a{
  text-decoration: none;
}

/* wrap */
#wrap{
  width:100vw;
  height:100vh;
  margin: 0 auto;
}
#wrap02{
  width:100vw;
  height:500px;
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
  background: url("../images/background.png");
  position: absolute; top:0; left:0;
}
.wrap02-back{
  width:100vw;
  height:500px;
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
  background: url("../images/background.png");
  opacity: 0.8;
  position: absolute; top:0; left:0;
}

/* button */
.a{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.a h3{
  letter-spacing: 3px;
}
.preserve-3d {
transform-style: preserve-3d;
-webkit-transform-style: preserve-3d;
}
.button_base {
    margin: 0;
    border: 0;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,60%);
    margin-top: 100px;
    /* margin-left: -100px; */
    width: 250px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}
.button_base:hover {
    cursor: pointer;
}

.b05_3d_roll {
    perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
}

.b05_3d_roll div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    /* border: #000000 solid 1px; */
    /* box-shadow: 5px 5px 10px red; */
    pointer-events: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.b05_3d_roll div:nth-child(1) {
    color: #000000;
    background-color: #000000;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b05_3d_roll div:nth-child(2) {
    color: #000000;
    background-color: #ffffff;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b05_3d_roll:hover div:nth-child(1) {
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}

.b05_3d_roll:hover div:nth-child(2) {
    background-color: #000000;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.25 ease;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
}

/* slide */
#slide{
  width:100vw;
  height:400px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  /* background: #fff; */
  overflow: hidden;
  /* background: pink; */
}
.slideList{
  width:6120px;
  height:100%;
  position: relative;
  /* background: red; */
  animation: slide 55s linear infinite;
}
@keyframes slide{
  from{
    transform:translateX(0);
  }
  to{
    transform:translateX(-6120px);
  }
}
.slideImg{
  float: left;
  /* background: yellow; */
}
.slideImg img{
  width:600px;
  height:400px;
  display: block;
}
.slideImg img.first{
  margin-left: 1920px;
}

.box{
  width:200px;
  height:100px;
  background: #fff;
}
